body{
    background: #BDBDBD;
    margin: 0;
}

div.post span{
    float: right;
}

header{
    background: white;
    padding: 10px;
}

header h1{  
    margin: 0;
}

div.post{
    background: white;
    margin-top: 10px;
}

div.post img{
    width: 100%;
}

div.post h2{
    padding: 5px;
    float: left;
}

div.post p{
    padding: 5px;
}

div.container{
    width: 600px;
    margin: auto;
}